/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//= require foundation_and_overrides
//= require_tree .
//= require_self
 */

 .page-header {
   max-width: 100%;
   background: image-url('owl.jpg');
   background-repeat: no-repeat;
   border-bottom: 1px solid darkgrey;
   margin-bottom: 10px;
   h2 {
     padding-left: 150px;
   }
   small {
     color: darkgrey;
   }
   p {
     margin-bottom: 5px;
   }
 }

 .status.failure {
   color: #C70039;
 }
 .status.success {
   color: #359b18;
 }

 .media-table .upvote.button {
   margin: 0;
 }

 .top-ten ul {
   list-style-type: none;
   margin-left: 0px;
 }
